// Define base and accent colors
$base-color: #ff4301;
$base-color-hover: darken($base-color, 10%);
$dark-grey: #a9a9a9;
$dark-navy: #39464e;
$bright-grey: #bbb;
$c-grey: #ccc;
$d-grey: #ddd;
$white: #fff;

// Define background colors
$background: #000;
$background-alt: #131313;

// Define border colors
$border: #555;

// Define text colors
$heading: #fff;
$text: #aaa;
