#certificates {
    padding: 50px 15px;
    border-bottom: 1px solid $border;

    h2 {
        color: $heading;
        margin-bottom: 50px;
        width: 100%;
        text-align: center;
    }

    h5 {
        font-size: 1rem;
        color: $bright-grey;
    }
}

.certificate {
    position: relative;
    max-width: 900px;
    margin: 0 auto 30px auto;
    overflow: hidden;
    background: $background;
    border-radius: 4px;

    .details {
        padding: 0px 30px 30px;
        color: $text;
    }
}

.certificate-image {
    img {
        height: 180px;
        background: $white;
    }
}

.certificate-info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 200px;
    padding: 15px;
    text-align: start;

    h3 {
        font-size: 1.5em;
        font-weight: 300;
        color: $heading;
        margin: 0 0 15px 0;
        cursor: pointer;
    }

    h4 {
        font-size: 1.2em;
        color: $bright-grey;
        margin: 0 0 15px 0;
        cursor: pointer;
    }

    p {
        color: $text;
        margin: 0 0 15px 0;
        font-size: 0.9em;
    }

    li {
        color: $text;
    }
}

.no-image {
    .certificate-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        transform: none;
    }
}

#more-certificates {
    display: none;
}

// Small Devices
@media only screen and (max-width : 768px) {

    .certificate {
        min-height: 150px;
        width: 100%;
    }

    .certificate-image {
        display: none;
    }

    .certificate-info {
        position: relative;
        margin: 0 !important;
        padding: 30px 15px;
        top: auto;
        transform: none;
        text-align: center;
        width: 100%;
    }
}

// Large devices
@media only screen and (min-width : 992px){
    .certificate {
        width: 700px;

        .details {
            margin-left: 180px;
        }
    }

    .certificate-info {
        margin-top: 30px;
        height: 100%;
    }
}