.optional-section {
    padding: 50px 15px;
    text-align: center;
    border-top: 1px solid $border;

    h2 {
        color: $heading;
    }
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: 1px solid $border;
    background: #fff;
    text-align: left;

    h3 {
        font-weight: 500;
        margin: 0 0 15px 0;
        color: $heading;
    }

    h4 {
        color: $text;
        clear: both;
        font-weight: 500;
        margin: 0 0 15px 0;
    }

    p, ul {
        margin: 0 0 15px 0;
        color: $text;
        font-size: 0.9em;
    }

    ul {
        padding: 0 0 0 15px;
    }
}
