#skills {
    padding: 50px 15px;
    text-align: center;

    h2 {
        color: $heading;
        margin-bottom: 50px;
    }

    ul {
        display: block;
        margin: 0 auto;
        padding: 0;
        max-width: 800px;
    }

    li {
        display: inline-block;
        margin: 7px;
        padding: 5px 10px;
        color: $background;
        background: $dark-grey;
        list-style: none;
        cursor: default;
        font-size: 1.2em;
    }
}
