// Small Devices
@media only screen and (max-width : 768px) {

	header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%;
    }
}
